<h1>{{title}}</h1>
<p>Projekt zaliczeniowy z Projektowania serwisów Webowych</p>
<p>API udostępniające dane pobrane z portalu danepubliczne.gov.pl</p>
<a href="https://danepubliczne.gov.pl/dataset/baza-azbestowa">Link do pobranej bazy danych</a>
<p>Autor: Jakub Ejnik</p>
